.nav__Bar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1100px;
  transition: top 0.5s;
}

.nav__Menu {
  display: grid;
  list-style: none;
  grid-template-columns: 2fr 2fr 1fr;
  padding: 1em 0;
  margin: 0;
}

.nav__Menu > a {
  width: 100%;
  text-align: center;
}

.nav__Menu > a:hover {
  color: black;
  text-decoration: none;
}

.nav__Menu > button {
  padding: 0;
  width: 50%;
}
